// === colors ===
:root {
  // accent colors
  // --vp-c-accent: #299764;
  // --vp-c-accent-bg: #3eaf7c;
  // --vp-c-accent-hover: #4abf8a;
  --vp-c-accent: #53c4ed !important;
  --vp-c-accent-bg: #63c5e9 !important;
  --vp-c-accent-hover: #75cdec !important;
}

